  <table class="public-table bg-white rounded-t-lg">
    <thead>
      <tr>
        <th class="pt-6 pb-6 font-semibold text-gray-800 text-sm rounded-tl-lg"></th>
        <th class="pt-6 pb-6 font-semibold text-gray-800 text-sm text-left">NAME</th>
        <th class="pt-6 pb-6 font-semibold text-gray-800 text-sm text-left">AUTHOR</th>
        <th class="pt-6 pb-6 font-semibold text-gray-800 text-sm text-left">INFO</th>
        <th class="pt-6 pb-6 font-semibold text-gray-800 text-sm text-left">VISIBILITY</th>
        <th class="pt-6 pb-6 font-semibold text-gray-800 text-sm text-left rounded-tr-lg"></th>
      </tr>
    </thead>

    <tbody>
      <% @list.items.each do |item| %>
        <tr>
          <td>
          </td>
          <td >
            <p class="text-lg">
              <%= item.name %>
            </p>
            <p class="text-xs text-gray-500 font-semibold"><%= item.updated_at.strftime("%B %e, %Y") %></p>
          </td>
          <td class="text-sm">
            hidden
          </td>
          <td class="text-sm">
            <p class="flex inline-flex align-center text-gray-600">
              <%= render_svg "icons/conversation", styles: "fill-current text-gray-600 h-5 w-5 pr-1", title: "note added" %>
              has comments
            </p>
            <% if item.note? %>
              <p class="flex inline-flex align-center text-gray-600">
                <%= render_svg "icons/checkmark-outline", styles: "fill-current text-gray-600 h-5 w-5 pr-1", title: "note added" %>
                note added
              </p>
            <% end %>
            <% if item.link? %>
              <p class="flex inline-flex align-center text-gray-600">
                <%= render_svg "icons/link", styles: "fill-current text-gray-600 h-5 w-5 pr-1", title: "note added" %>
                link available
              </p>
            <% end %>
          </td>
          <td class="">
              <p class="flex inline-flex align-center text-gray-600">
                <%= render_svg "icons/user-group", styles: "fill-current text-gray-600 h-5 w-5 mt-1 pr-1", title: "note added" %>
                public
              </p>
          </td>
          <td class="text-blue-800 text-sm">
            VIEW
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>