<h2>Active</h2>
<ul>
  <% @presenter.treasured.each do |oc| %>
    <li><%= oc.other_name %> | View</li>
  <% end %>
</ul>
<ul>
  <% @presenter.active.each do |oc| %>
    <li><%= oc.other_name %> Treasure | View</li>
  <% end %>
</ul>

<h2>Pending</h2>
<ul>
  <% @presenter.pending.each do |oc| %>
    <li>
      <%= oc.other_name %>
      <% if oc.other_requested? %>
        <%= render partial: "connections/shared/approve", locals: {connection: oc.connection} %>| Delete | 
      <% end%>
      View
    </li>
  <% end %>
</ul>

<h2>Deleted</h2>
<ul>
  <% @presenter.deleted.each do |oc| %>
    <li>
      <%= oc.other_name %>
      <% if oc.other_requested? %>
        Accept |
      <% end%>
      View
    </li>
  <% end %>
</ul>